html,
body {
	height: 100%;
	background: #FFFFFF;
	font-family: 'Inter', sans-serif;
}

.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 150px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

input{
	border: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input:focus::-webkit-input-placeholder { color:transparent; }

a[data-fancybox] img {
	cursor: zoom-in;
  }
