html,
body {
	height: 100%;
	background: #FFFFFF;
	font-family: 'Inter', sans-serif;
}

.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 150px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

input{
	border: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input[type="date"]::-moz-datetime-edit-year-field,
input[type="date"]::-webkit-datetime-edit-year-field{
	display: none;
  }

// input::-webkit-calendar-picker-indicator {
// 	display: none;
// }

input {
    position: relative;
    width: 150px; height: 20px;
    color: white;
}

input:before {
    position: absolute;
    top: 3px; left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input::-moz-datetime-edit, input::-moz-inner-spin-button, input::-moz-clear-button,
input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

input::-moz-calendar-picker-indicator,
input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}




