%inter-light{
    font-weight: 300;
}

%inter-regular{
    font-weight: 400;
}

%inter-bold{
    font-weight: 700;
}

%inter-Extra_bold{
    font-weight: 800;
}

%color-bold{
    color:#3A3335;
}

%color-light{
    color: #908E8E;
}