@media (max-width: 1200px){
    .container {
        padding: 0px 100px;
    }
}
@media (max-width: 1024px){
    .container {
        padding: 0px 40px;
    }
    .header{
        &__form{
            margin-left: 10px;
            &:before{
                left: 200px;
            }
            &:after{
                left: 329px;
            }
        }
        &__form-btn{
            &::after{
                left: 454px;
            }
        }
        &__form-location{
            max-width: 200px;
            padding: 12px 30px 11px 20px;
        }
        &__form-guests {
            padding: 12px 25px 11px 19.5px;
            text-align: center;
        } 
    }
}

@media (max-width: 850px){
    .apartment{
        &__base-img{
            top: 87px;
            left: 43px;        
        }
    }
}

@media (max-width: 810px){
    .container {
        padding: 0px 25px;
    }
    .header{
        &__form{
            margin-left: 5px;
            &:before{
                left: 125px;
            }
            &:after{
                left: 250px;
            }
        }
        &__form-btn{
            &::after{
                left: 370px;
            }
        }
        &__form-location{
            max-width: 120px;
            padding: 12px 10px 11px 10px;
        }
        &__form-guests {
            padding: 12px 5px 11px 46.5px;
            max-width: 105px;
        } 
    }
}

@media (max-width: 768px){
    .features{
        &__logo-home,
        &__logo-guests,
        &__logo-bedrooms,
        &__logo-policy{
            width: 68px;
            height: 48px;
        }
        &__item-wrapper {
            margin-left: 12px;
        }
    }
}