@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    width: 100%;
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
    &__inner{
        display: flex;
        padding: 14px 0 16px 0;
    }
    &__form{
        margin-left: 17px;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
        max-width: 718px;
    }
    &__form-location{
        @extend %inter-bold;
        font-size: 14px;
        @extend %color-bold;
        padding: 12px 167px 11px 20px;
    }
    &__form-guests{
        @extend %inter-bold;
        font-size: 14px;
        line-height: 21px;
        @extend %color-light;
        padding: 12px 86px 11px 19.5px;
    } 
}



.apartment{
    &__images{
        display: flex;
        flex-wrap: wrap;
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
    }
    &__raiting-wrapper{
        width: 100%;
    }
    &__title{
        width: 90%;
    }
    &__price{
        display: flex;
    }
}

.about{
    &__service-item{
        position: relative;
    }
    &__service-item::before{
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position:absolute;
    }
    &__service-kitchen, 
    &__service-breakfast,
    &__service-tv,
    &__service-parking,
    &__service-laptop,
    &__service-washer,
    &__service-aid,
    &__service-wifi,
    &__service-restaurant,
    &__service-business,
    &__service-terrace,
    &__service-concierge{
        background-repeat: no-repeat;
        background-position: 0 0 0 17px;
        padding-left: 37px;
    }
    &__service-kitchen{
        background-image: url(../images/about-services/kitchen.svg);
    }
    &__service-breakfast{
        background-image: url(../images/about-services/breakfast.svg);
    }
    &__service-tv{
        background-image: url(../images/about-services/tv.svg);
    }
    &__service-parking{
        background-image: url(../images/about-services/parking.svg);
    }
    &__service-laptop{
        background-image: url(../images/about-services/laptop.svg);
    }
    &__service-washer{
        background-image: url(../images/about-services/washer.svg);
    }
    &__service-aid{
        background-image: url(../images/about-services/aid.svg);
    }
    &__service-wifi{
        background-image: url(../images/about-services/wifi.svg);
    }
    &__service-restaurant{
        background-image: url(../images/about-services/restaurant.svg);
    }
    &__service-business{
        background-image: url(../images/about-services/business-center.svg);
    }
    &__service-terrace{
        background-image: url(../images/about-services/terrace.svg);
    }
    &__service-concierge{
        background-image: url(../images/about-services/concierge.svg);
    }
}


.property{
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item-title{
        position: relative;
    }
    &__item-title::before{
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position:absolute;
    }
    &__item-nearby,
    &__item-attractions,
    &__item-stores{
        background-repeat: no-repeat;
        background-position: 0 0 0 7px;
        padding-left: 27px;
    }
    &__item-nearby{
        background-image: url(../images/property-surroundings/nearby.svg);
    }
    &__item-attractions{
        background-image: url(../images/property-surroundings/attractions.svg);
    }
    &__item-stores{
        background-image: url(../images/property-surroundings/stores-transports.svg);
    }
    &__item-location{
        display: flex;
    }
}

.availability{
    // &__title-wrap{
    //     position: relative;
    // }
    // &__title-wrap::before{
    //     content: url(../images/availability/btn.png);
    //     left: 0;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     position:absolute;
    // }

    // &__item-info.availability__item-info--active{
    //     .availability__item-info{
    //         display: block;
    //     }
    // }
    &__item{
        cursor: pointer;
    }
    &__item-info{
        position: relative;
        display: none;
    }    
    &__item-info::before{
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position:absolute;
    }
    &__item-bed,
    &__item-space,
    &__item-cancellation,
    &__item-prepayment{
        background-repeat: no-repeat;
        background-position: 0 0 0 17px;
        padding-left: 37px;
    }
    &__item-bed{
        background-image: url(../images/availability/bed.svg);
    }
    &__item-space{
        background-image: url(../images/availability/space.svg);
    }
    &__item-cancellation{
        background-image: url(../images/availability/cancellation.svg);
    }
    &__item-prepayment{
        background-image: url(../images/availability/prepayment.svg);
    }
    &__check-quantity{
        max-width: 50px;
    }
    &__check-date{
        display: flex;
    }
    &__check-guest{
        display: flex;
    }
    &__user-wrapper{
        display: flex;
    }
}

.rules{
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__item-wrapperTitle{
        position: relative;
    }
    &__item-wrapperTitle::before{
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position:absolute;
    }
    &__item-checkIn,
    &__item-pets,
    &__item-policies,
    &__item-checkOut,
    &__item-cancellation,
    &__item-cot,
    &__item-cards,
    &__item-age,
    &__item-groups{
        background-repeat: no-repeat;
        background-position: 0 0 0 7px;
        padding-left: 27px;
    }
    &__item-checkIn{
        background-image: url(../images/rules/check-in.svg);
    }
    &__item-pets{
        background-image: url(../images/rules/pets.svg);
    }
    &__item-policies{
        background-image: url(../images/rules/child-policies.svg);
    }
    &__item-checkOut{
        background-image: url(../images/rules/check-out.svg);
    }
    &__item-cancellation{
        background-image: url(../images/rules/cancellation-prepayment.svg);
    }
    &__item-cot{
        background-image: url(../images/rules/cot.svg);
    }
    &__item-cards{
        background-image: url(../images/rules/cards.svg);
    }
    &__item-age{
        background-image: url(../images/rules/age.svg);
    }
    &__item-groups{
        background-image: url(../images/rules/groups.svg);
    }
}

.reviews{
    &__wrapper{
        display: flex;
    }
}

.slider{
    &__info{
        display: flex;
    }
    &__info-raiting{
        display: flex;
    }
}

.comment{
    &__header{
        display: flex;
    }
    &__raiting{
        display: flex;
    }
    &__author{
        display: flex;
    }
}

.progress{
    &____items{
        display: flex;
    }
    &__item{
        display: flex;
    }
}


.footer{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__copyright-inner{
        display: flex;
    }
    &__info{
        display: flex;
    }
}





@import 'media';
