@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    width: 100%;
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
    &__inner{
        display: flex;
        padding: 14px 0 16px 0;
    }
    &__logo{
        max-width: 44px;
    }
    &__form{
        margin-left: 17px;
        margin-right: 321px;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
        max-width: 718px;
        &:before{
            position: absolute;
            content: url(../images/line-form-header.svg);
            top: 15px;
            left: 480px;
        }
        &:after{
            position: absolute;
            content: url(../images/line-form-header.svg);
            top: 15px;
            left: 609px;
        }
    }
    &__form-wrapper{
        margin: 0;
        padding: 0;
    }
    &__form-from,
    &__form-by{ 
        position: relative;
        width: 104px;
        height: 20px;
        font-size: 14px;
        top: 7px;
        left: 13px;
        @extend %inter-bold;
        @extend %color-bold;
        &:before{
            position: absolute;
            top: 0;
            left: 20px;
            content: attr(data-date);
        }
        &::-webkit-datetime-edit,
        &::-webkit-inner-spin-button,
        &::-webkit-clear-button{
            display: none;
        }
        &::-webkit-calendar-picker-indicator{
            position: absolute;
            top: -3px;
            right: 0;
            opacity: 1;
            content: url(../images/calendar-icon.svg);
            width: 18px;
            height: 18px;
            cursor: pointer;
        }
        &::-moz-datetime-edit,
        &::-moz-inner-spin-button,
        &::-moz-clear-button{
            display: none;
        }
        &::-moz-calendar-picker-indicator{
            position: absolute;
            top: -3px;
            right: 0;
            opacity: 1;
            content: url(../images/calendar-icon.svg);
            width: 18px;
            height: 18px;
            cursor: pointer;
        }
    }
    &__form-from{
        left: 0;
    }
    &__form-btn{
        width: 34px;
        height: 34px;
        background: #EB5E55;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin-right: 5px;
        &:hover{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #EB5E55;
        }
        &:active{
            background: #EB5E55;
        }
        &::before{
            content: url(../images/search-icon.svg);
            left: 1px;
            top: 1px;
            right: 0;
            bottom: 0;
            position: relative;
        }
    }
    &__form-location{
        @extend %inter-bold;
        font-size: 14px;
        @extend %color-bold;
        max-width: 271px;
        padding: 12px 67px 11px 20px;
    }
    &__form-guests{
        @extend %inter-bold;
        font-size: 14px;
        line-height: 21px;
        @extend %color-light;
        max-width: 154px;
        padding: 12px 46px 11px 19.5px;
        text-align: center;
    }
    &__user{
        &:before{
            position: absolute;
            content: url(../images/line-form-header.svg);
            top: 15px;
            left: 730px;
        }
    } 
}

.apartment{
    margin-top: 32px;
    &__images{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 28px;
        max-width: 1140px;
        max-height: 488px;
        object-fit: cover;
    }
    &__images-first{
        width: 653px;
        height: 488px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &__images-second{
        width: 458px;
        height: 230px;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__images-third{
        width: 215px;
        height: 230px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__images-four{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 215px;
        height: 230px;
        position: relative;
        top: -24px;
        bottom: 18px;
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
        margin-top: 29px;
    }
    &__raiting-wrapper{
        font-size: 14px;
        line-height: 21px;
        width: 100%;
    }
    &__raiting{
        @extend %inter-bold;
        @extend %color-bold;
        padding-left: 4px;
        &::before{
            content: url(../images/apartment-star.svg);
            top: 2px;
            left: -4px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__mark{
        @extend %inter-regular;
        @extend %color-light;
        padding-left: 5px;
    }
    &__name{
        @extend %inter-regular;
        @extend %color-light;
        padding-left: 19px;
        &::before{
            content: url(../images/apartment-dot.svg);
            top: -2px;
            left: -12px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 34px;
        line-height: 48px;
        width: 90%;
    }
    &__price{
        display: flex;
        padding-top: 12px;
    }
    &__price-value{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 24px;
        line-height: 36px;
    }
    &__price-info{
        @extend %inter-light;
        @extend %color-light;
        font-size: 16px;
        line-height: 34px;
        padding-left: 10px;
        &::before{
            content: '/';
            top: 0;
            left: -3px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
}

.base-img{
    &__info{
        @extend %inter-bold;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        top: 103px;
        bottom: 0;
        right: 0;
        left: 63px;
        z-index: 3;
    }
}

.features{
    &__wrapper{
        &::before{
            content: url(../images/big-line.svg);
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__items{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }
    &__item{
        display: flex;
        font-size: 14px;
        line-height: 21px;
    }
    &__item-wrapper{
        margin-left: 17px;
    }
    &__title{
        @extend %inter-bold;
        @extend %color-bold;
    }
    &__info{
        @extend %inter-regular;
        @extend %color-light;
    }
    &__logo-home,
    &__logo-guests,
    &__logo-bedrooms,
    &__logo-policy{
        width: 48px;
        height: 48px;
        background: linear-gradient(0deg, rgba(198, 216, 211, 0.3), rgba(198, 216, 211, 0.3)), #FFFFFF;
        border-radius: 4px;
        &::before{
            top: 14px;
            left: 14px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__logo-home{
        &::before{
            content: url(../images/features-home.svg);
        }
    }
    &__logo-guests{
        &::before{
            content: url(../images/features-guests.svg);
        }
    }
    &__logo-bedrooms{
        &::before{
            content: url(../images/features-bedrooms.svg);
        }
    }
    &__logo-policy{
        &::before{
            content: url(../images/features-policy.svg);
            left: 16.5px;
        }
    }
}

.about{
    &__inner{
        display: flex;
        margin-top: 83px;
    }
    &__services{
        margin-top: 50px;
        margin-bottom: 12px;
    }
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 22px;
        line-height: 32px;
    }
    &__text-wrapper{
        margin-top: 12px;
        max-width: 716px;
    }
    &__text{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
    }
    &__services{
        display: flex;
        justify-content: space-between;
        max-width: 675px;
    }
    &__service-item{
        @extend %color-bold;
        @extend %inter-regular;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 30px;
        padding-left: 17px;
    }
    &__service-kitchen, 
    &__service-breakfast,
    &__service-tv,
    &__service-parking,
    &__service-laptop,
    &__service-washer,
    &__service-aid,
    &__service-wifi,
    &__service-restaurant,
    &__service-business,
    &__service-terrace,
    &__service-concierge{
        &::before{
            top: 1px;
            left: -17px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__service-kitchen{
        &::before{
            content: url(../images/about-services/kitchen.svg);
        }
    }
    &__service-breakfast{
        &::before{
            content: url(../images/about-services/breakfast.svg);
        }
    }
    &__service-tv{
        &::before{
            content: url(../images/about-services/tv.svg);
        }
    }
    &__service-parking{
        &::before{
            content: url(../images/about-services/parking.svg);
        }
    }
    &__service-laptop{
        &::before{
            content: url(../images/about-services/laptop.svg);
        }
    }
    &__service-washer{
        &::before{
            content: url(../images/about-services/washer.svg);
        }
    }
    &__service-aid{
        &::before{
            content: url(../images/about-services/aid.svg);
        }
    }
    &__service-wifi{
        &::before{
            content: url(../images/about-services/wifi.svg);
        }
    }
    &__service-restaurant{
        &::before{
            content: url(../images/about-services/restaurant.svg);
        }
    }
    &__service-business{
        &::before{
            content: url(../images/about-services/business-center.svg);
        }
    }
    &__service-terrace{
        &::before{
            content: url(../images/about-services/terrace.svg);
        }
    }
    &__service-concierge{
        &::before{
            content: url(../images/about-services/concierge.svg);
        }
    }
    &__btn{
        @extend %inter-bold;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 10px;
        cursor: pointer;
        padding: 14px 27.5px 11px 50.5px;
        transition: background 0.3s;
        &:hover{
            color: #FFFFFF;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #EB5E55;
            &::before{
                content: url(../images/ellipsis-white.svg);
                left: -10px;
                top: -3px;
                right: 0;
                bottom: 0;
                position:relative;
            }
            transition: background 0.3s;
        }
        &:active{
            color: #FFFFFF;
            background: #EB5E55;
            transition: background 0.3s;
        }
        &::before{
            content: url(../images/ellipsis.svg);
            left: -10px;
            top: -3px;
            right: 0;
            bottom: 0;
            position:relative;
        }
    }
    &__map{
        margin-left:auto;
    }
}

.property{
    margin-top: 34px;
    &__wrapper{
        &::before{
            content: url(../images/big-line.svg);
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 22px;
        line-height: 32px;
        margin-top: 29px;
    }
    &__text{
        @extend %inter-regular;
        @extend %color-light;
        max-width: 914px;
        font-size: 14px;
        line-height: 21px;
        margin-top: 12px;
    }
    &__item{
        min-width: 293px;
        margin-bottom: 35px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
    }
    &__item-title{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        padding-left: 7px;
        margin-bottom: 30px;
    }
    &__item-nearby,
    &__item-attractions,
    &__item-stores{
        &::before{
            top: 1px;
            left: -7px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__item-nearby{
        &::before{
            content: url(../images/property-surroundings/nearby.svg);
        }
    }
    &__item-attractions{
        &::before{
            content: url(../images/property-surroundings/attractions.svg);
        }
    }
    &__item-stores{
        &::before{
            content: url(../images/property-surroundings/stores-transports.svg);
        }
    }
    &__item-location{
        display: flex;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 21px;
    }
    &__location-name{
        @extend %inter-regular;
        @extend %color-bold;
    }
    &__location-distanations{
        @extend %inter-regular;
        @extend %color-light;
        margin-left:auto;

    }
}

.availability{
    // &__title-wrap{
    //     position: relative;
    // }
    // &__title-wrap::before{
    //     content: url(../images/availability/btn.png);
    //     left: 0;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     position:absolute;
    // }
    // &__title-wrap--active{
    //     position: relative;
    // }
    // &__title-wrap--active::after{
    //         content: url(../images/availability/verified-icon.png);
    //         left: 0;
    //         top: 0;
    //         right: 0;
    //         bottom: 0;
    //         position:absolute;
    // }
    // &__item-info.availability__item-info--active{
    //     .availability__item--active{
    //         display: block;
    //     }
    // }
    &__inner{
        &::before{
            content: url(../images/big-line.svg);
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__wrapper{
        display: flex;
        margin-bottom: 36px;
    }
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 22px;
        line-height: 32px;
        margin-top: 36px;
    }
    &__options{
        margin-top: 22px;
        width: 791px;
    }
    &__item{
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
        max-width: 751px;
        cursor: pointer;
        padding: 24px 25px 27px 13px;
        margin-bottom: 10px;
    }
    &__title-wrap{
        display: flex;
        padding-left: 40px;
    }
    &__item-title{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
    }
    &__item-price{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 16px;
        margin-left: auto;
    }
    &__item-info{
        display: none;
        padding-left: 20px;
        &::before{
            content: url(../images/small-line.svg);
            top: 0;
            left: -12px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }    
    &__item-bed,
    &__item-space,
    &__item-cancellation,
    &__item-prepayment{
        padding-left: 7px;
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 11px;
        &::before{
            top: 1px;
            left: -17px;
            bottom: 0;
            right: 0;
            position: relative;
        }
        & span{
            @extend %inter-regular;
        }
    }
    &__item-bed{
        margin-top: 19px;
        &::before{
            content: url(../images/availability/bed.svg);
        }
    }
    &__item-space{
        &::before{
            content: url(../images/availability/space.svg);
            top: 2px;
        }
    }
    &__item-cancellation{
        &::before{
            content: url(../images/availability/cancellation.svg);
            top: 2px;
        }
    }
    &__item-prepayment{
        padding-left: 11px;
        &::before{
            content: url(../images/availability/prepayment.svg);
            left: -18px;
            top: 3px;
        }
    }
    &__item-text p{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        max-width: 211px;

    }
    &__item-btn{
        @extend %inter-bold;
        font-size: 14px;
        line-height: 21px;
        @extend %color-light;
        background: linear-gradient(0deg, rgba(58, 51, 53, 0.04), rgba(58, 51, 53, 0.04)), #FFFFFF;;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin-left: auto;
        padding: 12px 68.2px 13px 67px;
        transition: all 0.3s;
        &:hover{
            color: #FFFFFF;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #EB5E55;
            border-radius: 8px;
            transition: all 0.3s;
        }
        &:active{
            color: #FFFFFF;
            background: #EB5E55;
            transition: all 0.3s;
        }
    }
    &__item-text{
        display: flex;
        padding-top: 8px;
    }
    &__check{
        width: 361px;
        height: 530px;
        background: linear-gradient(0deg, rgba(58, 51, 53, 0.04), rgba(58, 51, 53, 0.04)), #FFFFFF;
        border-radius: 10px;
        margin-left: auto;
        margin-top: 22px;
        padding: 29px 31px 33px 26px;
    }
    &__check-inner{
        margin-left: auto;
        margin-top: 34px;
    }
    &__check-title,
    &__user-text{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 12px;
        line-height: 18px;
    }
    &__user-text{
        margin-top: 13px;
    }
    &__check-quantity{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        max-width: 50px;
    }
    &__check-date{
        display: flex;
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    &__check-guest{
        display: flex;
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    &__user-wrapper{
        display: flex;
        margin-top: 24px;
    }
    &__user-avatar{
        width: 48px;
    }
    &__user-name{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 18px;
        line-height: 27px;
    }
    &__user-info{
        margin-left: 17.5px;
        margin-right: 8.5px;
    }
    &__user-join{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
    }  
    &__check-verified{
        width: 17px;
        height: 20px;
        position: relative;
        top: 4px;
    }
    &__check-dateIn{
        display: flex;
        flex-wrap: wrap;
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
        margin-bottom: 10px;
        margin-top: 19px;
    }
    &__check-dareOut{
        display: flex;
        flex-wrap: wrap;
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    &__check-text,
    &__check-roomsNumber,
    &__check-guestNumber{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 12px;
        line-height: 18px;
        width: 100%;
        padding-top: 13px;
        padding-left: 20px;
    }
    &__calendar{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        padding-top: 3px;
        padding-left: 20px;
        padding-bottom: 17px;
        width: 92%;
    }
    &__check-titleNumber{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        padding-top: 3px;
        padding-left: 20px;
        padding-bottom: 17px;
    }
    &__check-btplus{
        border: none;
        background: transparent;
        cursor: pointer;
        &::before{
            content: url(../images/availability/plus.svg);
            position: relative;
            left: -21px;
            right: 0;
            top: 3px;
            bottom: 0;
        }
    }
    &__check-btminus{
        border: none;
        background: transparent;
        cursor: pointer;
        &::before{
            content: url(../images/availability/minus.svg);
            position: relative;
            left: 21px;
            right: 0;
            top: 3px;
            bottom: 0;
        }
    }
}

.rules{
    &__inner-wrap{
        &::before{
            content: url(../images/big-line.svg);
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__inner{
        margin-top: 36px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
    }
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 22px;
        line-height: 32px;
    }
    &__text{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        width: 786px;
        margin-top: 12px;
    }
    &__item-checkIn,
    &__item-pets,
    &__item-policies,
    &__item-checkOut,
    &__item-cancellation,
    &__item-cot,
    &__item-cards,
    &__item-age,
    &__item-groups{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        padding-left: 7px;
        &::before{
            left: -7px;
            top: 1px;
            right: 0;
            bottom: 0;
            position: relative;
        }
    }
    &__item-checkIn{
        &::before{
            content: url(../images/rules/check-in.svg);
            top: 3px;
        }
    }
    &__item-pets{
        &::before{
            content: url(../images/rules/pets.svg);
            top: 2px;
        }
    }
    &__item-policies{
        &::before{
            content: url(../images/rules/child-policies.svg);
            top: 2px;
        }
    }
    &__item-checkOut{
        &::before{
            content: url(../images/rules/check-out.svg);
            top: 3px;
        }
    }
    &__item-cancellation{
        &::before{
            content: url(../images/rules/cancellation-prepayment.svg);
            top: 2px;
        }
    }
    &__item-cot{
        &::before{
            content: url(../images/rules/cot.svg);
        }
    }
    &__item-cards{
        &::before{
            content: url(../images/rules/cards.svg);
        }
    }
    &__item-age{
        &::before{
            content: url(../images/rules/age.svg);
        }
    }
    &__item-groups{
        &::before{
            content: url(../images/rules/groups.svg);
            top: 2px;
        }
    }
    &__item{
        margin-bottom: 34px;
    }
    &__item-info{
        display: flex;
        margin-top: 19px;
    }
    &__item-text{
        @extend %inter-regular;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        margin-top: 18px;
        width: 293px;
    }
    &__item-progress{
        width: 74px;
    }
}

.reviews{
    &__inner-wrap{
        &::before{
            content: url(../images/big-line.svg);
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 22px;
        line-height: 32px;
        margin-top: 36px;
    }
    &__score{
        width: 361px;
        background: linear-gradient(0deg, rgba(58, 51, 53, 0.04), rgba(58, 51, 53, 0.04)), #FFFFFF;
        border-radius: 10px;
        padding: 30px 32px 216px 29px;
        height: 561px;
    }
    &__score-raiting{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 34px;
        line-height: 48px;
        padding-left: 4px;
        &::before{
            content: url(../images/reviews/raiting-big.svg);
            width: 100%;
            top: 2px;
            left: -4px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__score-based{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
    }
    &__score-progress{
        padding-top: 20px;
        &::before{
            content: url(../images/reviews/line-raiting.svg);
            width: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
}

.progress{
    &__items{
        padding-top: 27px;
    }
    &__item{
        display: flex;
        margin-bottom: 32px;
    }
    &__item-name{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
    }
    &__item-starAmount{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
    }
    &__item-percent{
        margin-left: auto;
    }
    &__item-percent p{
        display: table;
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 16px;
        line-height: 24px;
        margin-left: auto;
    }
    &__item-percent progress{
        transform: rotate(180deg);
        width: 56px;
    }
}

.comment{
    width: 750px;
    &:not(:first-child)::before{
        content: url(../images/reviews/line-reviews.svg);
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: relative;
    }
    &__header{
        display: flex;
        padding-top: 20px;
    }
    &__title{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 16px;
        line-height: 24px;
    }
    &__raiting{
        display: flex;
        margin-left: auto;
    }
    &__raiting-info{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        padding-left: 4px;
        &::before{
            content: url(../images/reviews/raiting.svg);
            top: 0;
            left: -4px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__ellipsis{
        cursor: pointer;
        margin-left: 16px;
    }
    &__ellipsis-img{
        margin-bottom: 3px;
    }
    &__author{
        display: flex;
        width: 100%;
        margin-bottom: 22px;
    }
    &__text{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        width: 718px;
        margin-top: 8px;
        margin-bottom: 36px;
    }
    &__author-info{
        margin-left: 15px;
    }
    &__author-avatar{
        width: 36px;
        height: 36px;
    }
    &__author-name{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
    }
    &__author-date{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 12px;
        line-height: 18px;
    }
}

.slider{
    background-image: url(../images/slider-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    margin-top: 60px;
    &__inner{
        margin-bottom: 33px;
    }
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 24px;
        line-height: 36px;
        padding-top: 74px;
    }
    &__items{
        display: flex;
        margin-top: 37px;
    }
    &__item{
        width: 360px !important;
        height: 361px;
        background: #FFFFFF;
        box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
        border-radius: 6px;
        margin-bottom: 20px;
        margin-right: 29px;
    }
    &__item-img{
        max-width: 361px;
        max-height: 238px;
        border-radius: 6px 6px 0px 0px;
    }
    &__header{
        margin-left: 20px;
    }
    &__header-title{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
    }
    &__header-text{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
    }
    &__info{
        display: flex;
        margin-top: 16px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    &__info-raiting{
        display: flex;
        margin-left: 156px;
    }
    &__info-price{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 16px;
        line-height: 24px;
    }
    &__info-score{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        padding-left: 4px;
        &::before{
            content: url(../images/reviews/raiting.svg);
            top: 2px;
            left: -4px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__info-reviews{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        margin-left: 5px;
    }
    &__wrapper{
        position: relative;
    }
    &__arrow-prev,
    &__arrow-next{
        position: absolute;
        right: 0;
        top: -67px;
        z-index: 1;
        cursor: pointer;
    }
    &__arrow-prev{
        right: 34px;
    }
}

.footer{
    &__wrapper{
        width: 100%;
        background: linear-gradient(0deg, rgba(58, 51, 53, 0.04), rgba(58, 51, 53, 0.04)), #FFFFFF;
    }
    &__inner{
        display: flex;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    &__links{
        &:nth-child(1){
            margin-right: 153px;
        }
        &:nth-child(2){
            margin-right: 146px;
        }
        &:nth-child(3){
            margin-right: 162px;
        }
    }
    &__link-title{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
    }
    &__link{
        margin-top: 2px;
    }
    &__link a{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 33px;
    }
    &__copyright-inner{
        display: flex;
    }
    &__info{
        display: flex;
    }
    &__info-text{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        margin-right: 2px;
    }
    &__info-link{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        margin-left: 14px;
    }
    &__country-link,
    &__currency-link{
        @extend %inter-bold;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        padding-left: 6px;
    }
    &__country-link{
        &::before{
            content: url(../images/icon-country.svg);
            top: 2px;
            left: -6px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__currency-link{
        &::before{
            content: url(../images/ellipsis.svg);
            top: -3px;
            left: -6px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__country{
        margin-left: auto;
        margin-right: 35px;
    }
    &__copyright{
        background: #FFFFFF;
        padding-top: 17px;
        padding-bottom: 18px;
    }
}



.search{
    &__container{
        max-width: 1440px;
	    margin: 0 auto;
	    padding: 0 0 0 150px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__wrapper{
        width: 654px;
    }
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 34px;
        line-height: 48px;
        margin-top: 31px;
    }
    &__results{
        margin-top: 12px;
    }
    &__sort-btn{
        @extend %inter-bold;
        @extend %color-light;
        font-size: 12px;
        line-height: 18px;
        background: linear-gradient(0deg, rgba(58, 51, 53, 0.04), rgba(58, 51, 53, 0.04)), #FFFFFF;
        border-radius: 8px;
        margin-left: 4px;
        padding: 9px 25px;
        text-align: center;
        border: none;
        cursor: pointer;
    }
    &__items{
        margin-top: 57px;
    }
    &__item{
        margin-bottom: 22px;
        width: 626px;
        &:not(:first-child)::before{
            content: url(../images/search-page/line.svg);
            width: 100%;
            top: -17px;
            left: 0;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__item-wrapper{
        display: flex;
        width: 626px;
    }
    &__item-content{
        margin-left: 28px;
    }
    &__item-title{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 18px;
        line-height: 27px;
    }
    &__item-text{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
    }
    &__info-raiting{
        display: flex;
        margin-top: 12.5px;
    }
    &__info-score{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        padding-left: 5px;
        &::before{
            content: url(../images/reviews/raiting.svg);
            top: 1px;
            left: -5px;
            right: 0;
            bottom: 0;
            position: relative;
        }
    }
    &__info-reviews{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        margin-left: 5px;
    }
    &__parameters-wrapper{
        display: flex;
        margin-top: 24.5px;
    }
    &__parameters-rooms{
        display: flex;
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
    }
    &__parameters-guests{
        padding-right: 7px;
    }
    &__parameters-bedroom{
        padding-left: 7px;
        padding-right: 7px;
        &::before{
            content: url(../images/search-page/dot.svg);
            left: -7px;
            right: 0;
            bottom: 0;
            top: -2px;
            position: relative;
        }
    }
    &__parameters-beds{
        padding-left: 7px;
        &::before{
            content: url(../images/search-page/dot.svg);
            left: -7px;
            right: 0;
            bottom: 0;
            top: -2px;
            position: relative;
        }
    }
    &__price{
        display: flex;
        margin-left: 100px;
    }
    &__price-value{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 16px;
        line-height: 24px;

    }
    &__price-info{
        @extend %inter-regular;
        @extend %color-light;
        padding-left: 5px;
        margin-top: 2px;
        &::before {
            content: "/";
            top: 0;
            left: -3px;
            bottom: 0;
            right: 0;
            position: relative;
        }
    }
    &__pagination{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
        margin-top: 56px;
        margin-bottom: 42px;
    }
    &__pagination-item{
        @extend %color-bold;
        padding: 9px 16.5px 10px 16.5px;
        border-radius: 6px;
        transition: all 0.3s;
        &:hover{
            border: none;
            background-color: #EB5E55;
            border-radius: 6px;
            color: #FFFFFF;
            transition: all 0.3s;
        }
        &--active{
            padding: 9px 16.5px 10px 16.5px;
            border-radius: 6px;
            background-color: #EB5E55;
            color: #FFFFFF;
        }
    }
    &__pagination-next{
        @extend %inter-bold;
        @extend %color-light;
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 6px;
        padding: 9px 32px 10px 18px;
        margin-left: 34px;
        &::after{
            content: url(../images/search-page/arrow-next.svg);
            position: relative;
            top: 0;
            left: 22px;
            right: 0;
            bottom: 0;
        }
    }
}

// ***************************************

.container-main{
    width: 440px;
    margin: 0 auto;
    &-signup{
        width: 460px;
        margin: 0 auto;
    }
}

.wrapper{
    background-image: url(../images/signUp/bg-img.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.main{
    &__delimiter{
        @extend %inter-regular;
        @extend %color-light;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        margin-top: 11px;
        margin-bottom: 5px;
        &::before{
            content: url(../images/signUp/line.svg);
            position: relative;
            top: 17px;
            left: -117px;
            right: 0;
            bottom: 0;
        }
        &::after{
            content: url(../images/signUp/line.svg);
            position: relative;
            top: -25px;
            left: 114px;
            right: 0;
            bottom: 0;
        }
    } 
}

.header{
    &__sign-inner{
        display: flex;
        padding: 20px 0 20px 0;
    }
    &__btn-sign{
        margin-left: auto;
    }
    &__btn-sign,
    &__btn-back{
        @extend %inter-bold;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        background: linear-gradient(0deg, rgba(58, 51, 53, 0.04), rgba(58, 51, 53, 0.04)), #FFFFFF;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        padding: 15px 36px 15px 34px;
        transition: all 0.3s;
        &:hover{
            color: #FFFFFF;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #EB5E55;
            border-radius: 8px;
            transition: all 0.3s;
        }
        &:active{
            color: #FFFFFF;
            background: #EB5E55;
            transition: all 0.3s;
        }
    }
    &__btn-back{
        padding: 15px 26.5px 15px 49.5px;
        margin-right: 6px;
        &::before{
            content: url(../images/signUp/arrow-back.svg);
            position: relative;
            top: 1px;
            left: -10px;
            right: 0;
            bottom: 0;
        }
        &:hover{
            transition: all 0.3s;
            &::before{
                content: url(../images/signUp/arrow-back-white.svg);
                position: relative;
                top: 1px;
                left: -10px;
                right: 0;
                bottom: 0;
            }
        }
    }
    &__btn-wrapper{
        margin-left: auto;
    }
}

.form__big-btn,
.form__confirm-btn{
    @extend %inter-bold;
    @extend %color-light;
    font-size: 14px;
    line-height: 21px;
    background: linear-gradient(0deg, rgba(58, 51, 53, 0.04), rgba(58, 51, 53, 0.04)), #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 20px 183.5px 20px 183.5px;
    display: flex;
    margin: 0 auto;
    &:hover{
        color: #FFFFFF;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #EB5E55;
        border-radius: 8px;
        transition: all 0.3s;
    }
    &:active{
        color: #FFFFFF;
        background: #EB5E55;
        transition: all 0.3s;
    }
}

.form__confirm-btn{
    padding: 20px 121px 20px 121px;
}    

.sign{
    &__title{
        @extend %inter-Extra_bold;
        @extend %color-bold;
        font-size: 34px;
        line-height: 48px;
        text-align: center;
    }
    &__text,
    &__text-finish{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        margin-top: 4px;
        &-finish{
            width: 418px;
            text-align: center;
            margin: 5px auto 39px auto;
        }
    }
    &__forms-checkbox{
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked~.signup__form-text {
            @extend %color-bold;
          }
    }
    &__forms-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    &__forms-checkbox+label::before {
        content: '';
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 10px;
        right: 8px;
        top: 5px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background: linear-gradient(0deg, rgba(58, 51, 53, 0.04), rgba(58, 51, 53, 0.04)), #FFFFFF;
        cursor: pointer;
      }
      &__forms-checkbox:checked+label::before {
        background-color: #C6D8D3;
        background-image: url("../images/signUp/checked.png");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
      }
      &__forms-checkbox:disabled+label::before {
        background-color: #e9ecef;
      }
      &__img{
        display: block;
        margin: 0 auto;
        padding-bottom: 31px;
        padding-top: 50px;
      }
}

.signup{
    &__form-email,
    &__form-firstname,
    &__form-lastname,
    &__form-password,
    &__form-confirm{
        @extend %inter-bold;
        @extend %color-bold;
        font-size: 14px;
        line-height: 21px;
    }
    &__form-email{
        &::after{
            content: url(../images/signUp/mail-icon.svg);
            position: relative;
            top: 22px;
            bottom: 0;
            left: 336px;
            right: 0;
        }
        &:focus~.signup__input-title{
            &::after{
                content: url(../images/signUp/name-icon.svg);
                position: relative;
                top: 22px;
                bottom: 0;
                left: 336px;
                right: 0;
            }
        }
    }
    &__input-wrapper{
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
        width: 420px;
        display: block;
        padding-top: 13px;
        padding-left: 20px;
        padding-bottom: 17px;
        margin: 0 auto;
        margin-top: 42px;
        margin-bottom: 8px;
    }
    &__input-title{
        @extend %inter-regular;
        @extend %color-light;
        font-size: 12px;
        line-height: 18px;
        width: 100%;
        padding-left: 2px;
        // &::after{
        //     content: url(../images/signUp/mail-icon.svg);
        //     position: relative;
        //     top: 22px;
        //     bottom: 0;
        //     left: 336px;
        //     right: 0;
        // }
    }
    &__form-terms{
        @extend %inter-bold;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    &__form-wrapper{
        display: flex;
        justify-content: center;
        grid-gap: 8px;
    }
    &__form-firstname,
    &__form-lastname,
    &__form-password,
    &__form-confirm{
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
    }
    &__form-firstname{
        width: 206px;
        padding: 26px 0 25px 20px;
    }
    &__firstname-lable{
        &::after{
            content: url(../images/signUp/name-icon.svg);
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
    }
    &__form-lastname{
        width: 206px;
        padding: 26px 0 25px 20px;
    }
    &__form-password,
    &__form-confirm{
        display: block;
        margin: 8px auto;
        width: 420px;
        padding: 26px 0 25px 20px;
    }
    &__confirm-icon{
        @extend %inter-bold;
        @extend %color-light;
        font-size: 14px;
        line-height: 21px;
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 8px;
    }
    &__password-icon{
        content: url(../images/signUp/password-icon.svg);
        position: relative;
    }
    &__password-wrapper,
    &__confirm-wrapper,
    &__firstname-wrapper,
    &__lastname-wrapper{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto 0;
            width: 18px;
            height: 18px;  
            background-repeat: no-repeat;
           }
        }
    &__password-wrapper{
        &::before{
            background-image: url('../images/signUp/password-icon.svg');
            top: 2px;
            right: 34px;
        }
    }
    &__confirm-wrapper{
        &::before{
            background-image: url('../images/signUp/confirm-icon.svg');
            right: 34px;
            top: 3px;
        }
    }
    &__firstname-wrapper{
        &::before{
            background-image: url('../images/signUp/name-icon.svg');
            right: 16px;
            top: 3px;
        }
    }
    &__lastname-wrapper{
        &::before{
            background-image: url('../images/signUp/name-icon.svg');
            right: 16px;
            top: 3px;
        }
    }
}

.social{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__google,
    &__facebook,
    &__twitter{
        @extend %inter-bold;
        @extend %color-light;
        background: #FFFFFF;
        border: 1px solid #EDE8E9;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        width: 420px;
        margin-top: 6px;
    }
    &__google,
    &__facebook,
    &__twitter{
        &::before{
            position: relative;
            top: 2px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    &__google{
        &::before{
            content: url(../images/signUp/google.svg);
            left: -100px;
        }
        &:hover{
            @extend %color-bold;
            transition: all 0.3s;
            &::before{
                content: url(../images/signUp/google-hover.svg);
                position: relative;
                left: -100px;
                transition: all 0.3s;
            }
        }
        &:active{
            @extend %color-bold;
            transition: all 0.3s;
            &::before{
                content: url(../images/signUp/google-active.svg);
                position: relative;
                left: -100px;
            }
        } 
    }
    &__facebook{
        &::before{
            content: url(../images/signUp/facebook.svg);
            left: -89px;
        }
        &:hover{
            @extend %color-bold;
            transition: all 0.3s;
            &::before{
                content: url(../images/signUp/facebook-hover.svg);
                position: relative;
                left: -89px;
            }
        }
        &:active{
            @extend %color-bold;
            transition: all 0.3s;
            &::before{
                content: url(../images/signUp/facebook-active.svg);
                position: relative;
                left: -89px;
            }
        }
    }
    &__twitter{
        &::before{
            content: url(../images/signUp/twitter.svg);
            left: -97px;
        }
        &:hover{
            @extend %color-bold;
            top: 2px;
            transition: all 0.3s;
            &::before{
                content: url(../images/signUp/twitter-hover.svg);
                position: relative;
                left: -97px;
            }
        }
        &:active{
            @extend %color-bold;
            transition: all 0.3s;
            &::before{
                content: url(../images/signUp/twitter-active.svg);
                position: relative;
                left: -97px;
            }
        }
    }
}







@import 'media';
